h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.cards {
    display: flex;
    align-items: center;
}

img {
    width: 250px;
    height: 363px;
}


/*   Screen sizing for phones and the like   */
@media only screen and (max-width: 768px){
    img {
        width: 25%;
        height: 36.3%;
    }
}